* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text: #213547;
  --background: #ffffff;
  --button-background: #1a1a1a;
  --grey: rgb(233, 233, 237);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--background);
  background-color: var(--button-background);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
button:hover {
  border-color: #2c3fee;
  background-color: var(--grey);
  color: var(--text);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea {
  padding: .75rem 1rem;
  font-size: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.25s ease-in;
}
input:focus, textarea:focus {
  border-color: var(--text);
}
