nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .logo {
    font-size: 1.3rem;
    font-weight: bold;
}

nav .links {
    display: flex;
    gap: 10px;

    list-style-type: none;
}

nav .links li {
    position: relative;
    padding: 10px;
}

.nav-link {
    position: relative;
    font-weight: 500;
    color: var(--text);
    text-decoration: none;
}

.nav-link::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--text);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(3px);

    will-change: width;
    transition: width 0.3s ease;
}

nav .links li:hover .nav-link::after,
nav .links li .nav-link.active::after {
    width: 100%;
}