.login {
    width: min(400px, 80%);
    margin: 30px auto 0;
}

.login h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form .input-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.login-form .input-section input {
    width: 100%;
    box-sizing: border-box;
}

.login-form button {
    font-weight: bold;
}

.login-error {
    color: red;
}