.signup {
    max-width: 400px;
    margin: 30px auto 0;
}

.signup h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-form .input-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.signup-form .input-section input {
    width: 100%;
    box-sizing: border-box;
}

.signup-form button {
    font-weight: bold;
}

.signup-error {
    color: red;
}